.admin-panel {
    background: rebeccapurple;
    border: 1px solid #222;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;
    margin: 5px 0;
}

.admin-panel a {
    display: block;
}

.admin-panel:hover {
    opacity: 1;
}

a.edit. a.delete {
    display: none;
}